<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Alert Notification System</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Welcome to the Alert Notification System</h1>

<div>
    <h2>Choose an option:</h2>
    <a href="{% url 'register' %}">Register</a><br>
    <a href="{% url 'login' %}">Login</a>
</div>

</body>
</html>
